

<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: #067AB5;">
<div class="container" style="width: 100%">
	<!--<div style="margin-top: 200px;margin-left: 10px;">
	<div class="" style="width: 500px;height: 50px;background-color: tomato;margin-top: 10px;border-radius: 10px;">
		<p style="padding: 5px;color: green;font-size: 30px;">Empowerment</p>
	</div>
	<div class="" style="width: 500px;height:50px;background-color: tomato;margin-top: 30px;border-radius: 10px;">
		<p style="padding: 5px;color: blue;font-size: 30px;">Concentration</p>
	</div>
	<div class="" style="width: 500px;height: 50px; background-color: tomato;margin-top: 50px;border-radius: 10px;">
		<p style="padding: 5px;color: white;font-size: 30px;">Learning</p>
	</div>
  </div>-->
  <div style="margin-top: 0px; padding-top: 2px;  color: white; width: 100%; height: 100px;">
  	
<h1 class="text-center" style="font-weight: bold; font-size: 35px; font-family: cursive;">I I H T</h1>
<h5 class="text-center"><i>Center Of Excellence</i></h5>
  </div>
  <div class="container" style="margin-left: 100%; margin-top: 5px; ">
    <a routerLink="/adminlogin"><button id="btn" class="inputb" style="margin-left: -1341px; margin-top: 0px; float: left;">Admin Login</button></a>		<!-- <button class="inputb" type="button" name="" onclick="user()" style="margin-left: -700px; margin-top: 200px; float: left;">User login</button><br> -->
		<a routerLink="/userlogin"><button id="btn" class="inputb" style="margin-left: -1030px; margin-top: 0px; float: left;">User Login</button></a> 
		<a routerLink="/mentorlogin"><button id="btn" class="inputb"  style="margin-left:  -719px; margin-top: -0px; float: left;">Mentor Login</button></a><br>
		
 	</div>
	</div>

<div style="background-image: url('./assets/scroll1.png');">
<img src="./assets/scroll1.png" style="width:100%;"> 

</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-sm-6" style="height:300px; background-color:#f1f1f1; border-radius: 10px; width: 400px;margin-left: 50px; padding-top: 40px; padding-left: 70px;">
        <i style="font-size: 20px; padding-bottom: 50px;"><b>Contact Details</b></i><br>
        <p style="font-size: 15px; padding-bottom: 40px;">
          #15,<br>
          4th Floor,<br>
          Lakshmi COmplex,<br>
          St.Marks Road,<br>
          Shanthala Nagar,<br>
          Ashok Nagar,<br>
          Bangalore,<br>
          Karnataka-560001.<br>
        </p>
    </div>
    <div class="col-sm-6" style="height:300px; background-color:#f1f1f1; border-radius: 10px; width: 400px; padding-top: 40px; padding-left: 50px; margin-left: 30px;">
        <b style="font-size: 20px; padding-bottom: 50px;">You can  reach by</b><br>
        Contact Number: 080 66068144, 080 66068188, 080 61604545, +91 8553185384.<br>
     Email: <a href="https://www.justdial.com/Bangalore/IIHT-Technologies-Opposite-Bowring-Institute-St-Marks-Road/080PXX80-XX80-170203130104-I4A6_BZDET">Send Email By</a>
     <br>Website: <a href="http://www.iiht.net/bscitlandingpage">http://www.iiht.net/bscitlandingpage</a>
    </div>

    <div class="col-sm-6" style="height:300px; background-color:#f1f1f1; border-radius: 10px; width: 400px; padding-top: 40px; padding-left: 50px; margin-left: 30px;">
        <b style="font-size: 20px; padding-bottom: 50px;">You get us</b><br>
         <a href="https://www.facebook.com/IIHTLimitedbangalore" style="margin-top: 150px;"><button class="fa fa-facebook"></button></a>
      <a  href="https://www.justdial.com/Bangalore/Indian-Institute-Of-Hardware-Technology-Opposite-to-Bowring-Institute-and-Next-to-SBI-Branch-St-Marks-Road/080PXX80-XX80-160118165129-D3Z2_BZDET"><i class="fa fa-phone" style="margin-top: 15px; font-size:48px;color:red"></i></a>
    </div>
  </div>
<marquee behavior="scroll" direction="left">All copy rights are reserved by <i style="color: rgb(255, 0, 179);">@VamsiBangaru</i></marquee>



</body>

<style type="text/css">
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa {
  padding: 9px;
  font-size: 30px;
  width: 50px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  height:50px;
}

.fa:hover {
    opacity: 0.7;
}
.inputb
	{
		/* background-color: magenta; */
		color:white;
		height: 40px;
		border: 1px solid white;
		width: 100px;
		/*padding-bottom: 10px;*/
		border-radius: 18px;
		width: 300px;
		margin-bottom: 10px;
    background-color: #067AB5;
	}
	#btn:hover{
		
		background-color: #808080;

	}



</style>
<script type="text/javascript">
	function user()
	{
		location.href = "userlogin.html";
	}
	function mentor()
	{
		location.href = 'mentorlogin.html';
	}
	function admin()
	{
		location.href = 'adminlogin.html';
  }
 

</script>
<router-outlet></router-outlet>
</html>